<ion-view view-title="Account View" style="background-color:#B22222;">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Your profile</h2>
        <i class="ion-arrow-left-c back_icon" ui-sref="tab.home"></i>
    </div>
    <ion-content style="height:90%;top:10%;">

        <div id="SidenavFriend" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNavFriend()">&times;</a>
            <table>
                <tr>
                    <td>
                        <ion-list ng-repeat="friend in vm.user.friends | orderBy:'userName'">
                            <a ion-item ng-click="friendAccount(friend)">{{ friend }}</a>
                        </ion-list>
                    </td>
                </tr>
            </table>
        </div>

        <span style="font-size:30px;cursor:pointer; float: right" ng-click="openNavFriend()">Friends &#9776;</span>

        <div id="SidenavGame" class="sidenavGame">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNavGame()">&times;</a>
            <div ng-repeat="item in listprivate | orderBy:'name'">
                <a ng-click="showGame(item._id)">{{item.name}}</a>
            </div>
        </div>

        <span style="font-size:30px;cursor:pointer; float: left" ng-click="openNavGame()"> &#9776; Games</span>
        <br>
        <br>

        <table>
            <tr>
                <td>First Name:</td>
                <td>{{vm.user.firstName}}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{vm.user.lastName}}</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td>{{vm.user.userName}}</td>
            </tr>
            <tr>
                <td>e-mail:</td>
                <td>{{vm.user.email}}</td>
            </tr>
            <tr>
                <td>Birthday:</td>
                <td>{{vm.user.birthday}}</td>
            </tr>
            <tr>
                <td>Info:</td>.,
                <td>{{vm.user.info}}</td>
            </tr>
        </table>
        <br>

     <button class="button button-block button-calm" ui-sref="tab.changeUser">Edit your userdata</button>

        <form ng-submit="inviteUser()">
            <input id="newmail" type="text" ng-model="friendInput" placeholder="e-mail">
            <button class="button button-block button-calm"type="submit">Add user as a friend with his/her e-mail adress</button>
        </form>

    </ion-content>

</ion-view>
