<ion-view view-title="Account View" style="background-color: #0e4b42;">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Your profile</h2>
        <i class="ion-arrow-left-c back_icon" ui-sref="tab.home"></i>
    </div>
    <ion-content style="height:90%;top:10%;">

        <div id="SidenavFriend" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNavFriend()">&times;</a>
            <table>
                <tr>
                    <td>
                        <ion-list ng-repeat="friend in vm.user.friends | orderBy:'userName'">
                            <a ion-item ng-click="friendAccount(friend)">{{ friend }}</a>
                        </ion-list>
                    </td>
                </tr>
            </table>
            <br>
            Add a new Friend!
            <form ng-submit="inviteUser()">
                <input id="newmail" type="text" ng-model="friendInput" placeholder="e-mail">
                <button class="button button-block button-calm"type="submit">Add</button>
            </form>
        </div>

        <span style="font-size:30px;cursor:pointer; float: right" ng-click="openNavFriend()">Friends &#9776;</span>

        <div id="SidenavGame" class="sidenavGame">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNavGame()">&times;</a>
            <div ng-repeat="item in listprivate | orderBy:'name'">
                <a ng-click="showGame(item._id)">{{item.name}}</a>
            </div>
        </div>

        <span style="font-size:30px;cursor:pointer; float: left" ng-click="openNavGame()"> &#9776; Games</span>
        <br>
        <br>
        <div class="row responsive">
            <div class="col col-50">
                <p style="padding: 5px; font-size: medium; color: #ffffff">First Name: </p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">Name: </p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">Username: </p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">e-mail: </p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">Birthday: </p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">Info: </p>
            </div>
            <div class="col col-50">
                <p style="padding: 5px; font-size: medium; color: #ffffff">{{vm.user.firstName}}</p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">{{vm.user.lastName}}</p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">{{vm.user.userName}}</p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">{{vm.user.email}}</p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">{{vm.user.birthday}}</p>
                <p style="padding: 5px; font-size: medium; color: #ffffff">{{vm.user.info}}</p>
            </div>
        </div>
        <br>

     <button class="button button-round button-positive" ui-sref="tab.changeUser">Edit your userdata</button>

    </ion-content>

</ion-view>
