<ion-view view-title="Account View" style="background-color:#0e4b42;">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Change your password</h2>
        <i class="ion-arrow-left-c back_icon" ui-sref="tab.account"></i>
    </div>
    <ion-content style="height:90%;top:10%;">
        <form method="post" ng-submit="vm.onSubmit()">
            <div class="list list-inset" >
                <label class="item item-input">
                    <p>Password: </p>
                    <input type="password" id="password" class="form-control" ng-model="vm.user.password" />
                </label>
                <label class="item item-input">
                    <p>Repeat Password: </p>
                    <input type="password" id="password2" class="form-control" ng-model="vm.user.password2"/>
                </label>
            </div>
            <button class="button button-block button-balanced" ng-click="vm.changePw()">Save</button>
        </form>
    </ion-content>
</ion-view>