<ion-view view-title="Start Menu">
  <ion-content scroll="false">
    <div class="person-type" style="background-color:#80DEEA; height:100%; width:100%; posisiton: absolute;">            
      <a ui-sref="tab.avgames" href="#/tab/avgames" class="">
        <div class="player">
          <div class="type-picture">
            <img src="./img/icons/Student.png">
            <div class="info" ui-sref="tab.avgames" href="#/tab/avgames">
              <h2 class="ng-binding">Play OriGami</h2>
              <p class="ng-binding">Start learning geography by searching places on the map,receiving not only great marks, but also a huge amount of positive memories.</p>
            </div>
          </div>
        </div>
      </a>

      <a ui-sref="tab.teachmenu" href="#/tab/teachmenu" class="">
        <div class="teacher">
          <div class="type-picture">
            <img src="./img/icons/Professor.png">
            <div class="info" ui-sref="tab.teachmenu" href="#/tab/teachmenu">
              <h2 class="ng-binding">Create OriGami</h2>
              <p class="ng-binding">Start creating fun tasks for your belowed students!</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
