<ion-view view-title="Account Login" style="background-color: #535353;" name="login-view">
    <div style="position:fixed; top:2%; width:100%;">
        <h2 class="techm_h">Login here</h2>
        <i class="ion-arrow-left-c back_icon" ui-sref="tab.home"></i>
    </div>
    <ion-content style="height:90%;top:10%;">

        <div style="max-width: 500px; margin-left: auto; margin-right: auto" class="login-field">
            <form ng-submit="vm.onSubmit()">
                <div class="list list-inset" >
                    <label class="item item-input">
                        <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" ng-model="vm.credentials.email">
                    </label>

                    <label class="item item-input">
                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="vm.credentials.password">
                    </label>
                </div>
                <button type="submit" class="button button-block button-positive">Login</button>
                <button class="button button-block button-calm" ui-sref="tab.re_pw">Forgot Password?</button>
            </form>
            <button class="button button-block button-balanced" ui-sref="tab.register">Register</button>
        </div>
    </ion-content>

</ion-view>
