<ion-modal-view style="height:100%; "> 
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button button-icon icon ion-close-round" ng-click="game.noTask()"></button>
        </div>
        <h1 class="title">{{'quest_answer' | translate}}</h1>
        <div class="buttons">
            <button ng-disabled="game.invalidWaypointForm" class="button button-icon ion-checkmark-round" ng-show="game.showSlideButtons().saveButton" ng-click="game.submitQA(picFilename)"></button>
        </div>
    </ion-header-bar>
    <ion-content class="qa_page" style="background-color:#64B5F6;" data-tap-disabled="true">
        <div class="page_maininfo">
            <div class="page_content">
                <div class="content">
                    <div class="main_info">
                        <div class="list">
                            <h3>{{'question' | translate}}</h3>
                            <div class="item item-thumbnail-left">
                                <div>
                                    <label for="photoQuestion">
                                        <img class="photo_ic" width="64" height="64" ng-src="{{game.qaTask.question.img}}">
                                        <h5>Add Pic</h5>
                                    </label>
                                    <input class="btn inputfile" type="file" id="photoQuestion" ngf-select="game.imgUpload($file, $event)" accept="image/*">
                                </div>
                                <textarea rows="3" style="resize: none; line-height: 1.2;" ng-model="game.qaTask.question.txt" placeholder="Add text or choose image"> </textarea>
                            </div>
                            <h3>{{'answer' | translate}}</h3>
                            <div class="item item-thumbnail-left">
                                <div>
                                    <label for="photoAns1">
                                        <img class="photo_ic" width="64" height="64" ng-src="{{game.qaTask.answers[0].img}}">
                                        <h5>Add Pic</h5>
                                    </label>
                                    <input class="btn inputfile" type="file" id="photoAns1" ngf-select="game.imgUpload($file, $event)" accept="image/*">
                                </div>
                                <textarea rows="3" style="resize: none; line-height: 1.2;" ng-model="game.qaTask.answers[0].txt" placeholder="{{ 'right_answer' | translate }}"> </textarea>
                            </div>
                            <div class="item item-thumbnail-left">
                                <div>
                                    <label for="photoAns2">
                                        <img class="photo_ic" width="64" height="64" ng-src="{{game.qaTask.answers[1].img}}">
                                        <h5>Add Pic</h5>
                                    </label>
                                    <input class="btn inputfile" type="file" id="photoAns2" ngf-select="game.imgUpload($file, $event)" accept="image/*">
                                </div>
                                <textarea rows="3" style="resize: none; line-height: 1.2;" ng-model="game.qaTask.answers[1].txt" placeholder="Add text or choose image"> </textarea>
                            </div>
                            <div class="item item-thumbnail-left">
                                <div>
                                    <label for="photoAns3">
                                        <img class="photo_ic" width="64" height="64" ng-src="{{game.qaTask.answers[2].img}}">
                                        <h5>Add Pic</h5>
                                    </label>
                                    <input class="btn inputfile" type="file" id="photoAns3" ngf-select="game.imgUpload($file, $event)" accept="image/*">
                                </div>
                                <textarea rows="3" style="resize: none; line-height: 1.2;" ng-model="game.qaTask.answers[2].txt" placeholder="Add text or choose image"> </textarea>
                            </div>
                            <div class="item item-thumbnail-left">
                                <div>
                                    <label for="photoAns4">
                                        <img class="photo_ic" width="64" height="64" ng-src="{{game.qaTask.answers[3].img}}">
                                        <h5>Add Pic</h5>
                                    </label>
                                    <input class="btn inputfile" type="file" id="photoAns4" ngf-select="game.imgUpload($file, $event)" accept="image/*">
                                </div>
                                <textarea rows="3" style="resize: none; line-height: 1.2;" ng-model="game.qaTask.answers[3].txt" placeholder="Add text or choose image"> </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </ion-content>
</ion-modal-view>